<a href="https://colab.research.google.com/github/SurajKande/Pipelining/blob/master/introduction_to_bash_scripting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### important shell commands
1. grep - filters input based on regex pattern matching 
2. cat - concatinates file contents line by line
3. tail \ head - gives the last -n lines

Bash script anatomy
 
 * it usually begins with hash-bang ( # ) so the interpretor know its a bash script

 * the file extension is usually .sh
 
 * can be run using the command bash followed by the script name

In [2]:
# %%shell - This is an entire cell interpreted as a shell script
%%shell    

echo "hello world"

hello world

In [0]:
# Using arguments in Bash scripts
%%shell

# Echo the first and second ARGV arguments
+echo $1 
+echo $2

# Echo out the entire ARGV array
+echo $@

# Echo out the size of ARGV
+echo $#

In [7]:
# Using variables in Bash
%%shell

# Create the required variable
yourname="suraj"

# Print out the assigned name (Help fix this error!)
echo "Hi there $yourname, welcome to the website!"

Hi there suraj, welcome to the website!

In [8]:
# Shell within a shell

%%shell

echo "Right now it is `date`"

Right now it is Thu Apr 30 10:59:41 UTC 2020

In [0]:
# Converting Fahrenheit to Celsius   -- working with numeric variables
%%shell

# Get first ARGV into variable
temp_f=$1

# Subtract 32
+temp_f2=$(echo "scale=2; $temp_f - 32" | bc)

# Multiply by 5/9
+temp_c=$(echo "scale=2; $temp_f2 * 5 / 9" | bc)

# Print the temp
+echo $temp_c

In [0]:
# Create a normal array with the mentioned elements
%%shell

capital_cities=("Sydney", "New York", "Paris")

In [0]:
%%shell
# Create a normal array with the mentioned elements using the declare method
declare -a capital_cities

# Add (append) the elements
capital_cities+=("Sydney")
capital_cities+=("New York")
capital_cities+=("Paris")

In [11]:
%%shell

capital_cities=("Sydney" "New York" "Paris")

# Print out the entire array
echo ${capital_cities[@]}

# Print out the array length
echo ${#capital_cities[@]}

Sydney New York Paris
3

In [0]:
%%shell
# Associative arrays allow you to index using words rather than numbers, which can be important for ease of inputting and accessing properties
# Create empty associative array
declare A car

# Add the key-value pairs
car[company]="Maruthi"
car[model_name]="swift"
car[type]="LXI"