<a href="https://colab.research.google.com/github/SurajKande/Pipelining/blob/master/Parallel_computation_frameworks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hadoop:
- It is a collection of open source projects, maintained by Apache Software Foundation
-  two main hadoop projects
      
      * MapReduce

          -  it works by splliting the program tasks into subtasks, distributing the workload and data between several processing units 
          ( units are several computers in a clusters)

          - it was hard to write these MapReduce jobs

      * HDFS  
          
          - is a distributed file system, similar to the file system on computer only differenceis the files reside on different systems, now a days it is replaced by cloud strage systems ex: AWS S3 


### Hive:

   -  It is a layer on top of Hadoop ecosystem that makes data from several sources queryable in a structured way using Hive SQL. 



### Spark:

   -  It distributes data processing tasks between clusters of computers

   -  Spark architecture relies on resilient distributed datasets ( RDD ) 

      *  It has a datastructure that maintains data which is distributed between multiple nodes

      *  It dosent have names columns, similar to list of tuples

      *  we can perform transformations like, result in transformed RDD's
          
           - .map()
           - .filter()
      *   we can perform actions like, result in singlr result

            - .count()
            - .first()
        
      *   people typically use PySpark is Python interface to spark, there are also other interfaces in other languages like R, Scala

            - PySpark has DataFrame abstraction, (i.e) we can do operrations very similar to pandas DataFrames

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.1-bin-hadoop2.7.tgz

In [0]:
!pip install -q findspark pyspark

In [0]:
import findspark

In [0]:
# to connect gdrive to colab for importing dataset
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

In [25]:
from pyspark.sql import SparkSession

if __name__ == "__main__": 
  spark = SparkSession.builder.getOrCreate()
  athlete_events_spark_dataframe = (spark.read.csv('/content/gdrive/My Drive/datasets/athlete_events.csv',inferSchema=True, header=True, escape='"'))
  
  athlete_events_spark_dataframe = (athlete_events_spark_dataframe.withColumn("Age", athlete_events_spark_dataframe.Age.cast("integer")))
  print(athlete_events_spark_dataframe.groupBy('Year').mean('Age').orderBy('Year').show())

+----+------------------+
|Year|          avg(Age)|
+----+------------------+
|1896|23.580645161290324|
|1900|29.034031413612567|
|1904| 26.69814995131451|
|1906|27.125252525252524|
|1908|26.970228384991845|
|1912| 27.53861997940268|
|1920|29.290977661734843|
|1924|28.373324544056253|
|1928| 29.11255692908263|
|1932| 32.58207957204948|
|1936|27.530328324986087|
|1948|28.783946700507613|
|1952|26.161546085232903|
|1956|25.926673567977915|
|1960|25.168848457954294|
|1964| 24.94439728353141|
|1968|24.248045555448314|
|1972| 24.30860659192447|
|1976|23.841818181818184|
|1980|23.694742857142856|
+----+------------------+
only showing top 20 rows

None

In [26]:
# Print the type of athlete_events_spark
print(type(athlete_events_spark_dataframe))

<class 'pyspark.sql.dataframe.DataFrame'>

In [28]:
# Print the schema of athlete_events_spark
print(athlete_events_spark_dataframe.printSchema())

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

None

In [29]:
# Group by the Year, and find the mean Age
print(athlete_events_spark_dataframe.groupBy('Year').mean("Age"))

DataFrame[Year: int, avg(Age): double]

In [32]:
# Group by the Year, and find the mean Age
print(athlete_events_spark_dataframe.groupBy('Year').mean("Age").show())

+----+------------------+
|Year|          avg(Age)|
+----+------------------+
|1896|23.580645161290324|
|1924|28.373324544056253|
|2006|25.959151072569604|
|1908|26.970228384991845|
|1952|26.161546085232903|
|1956|25.926673567977915|
|1988|24.079431552931485|
|1994|24.422102596580114|
|1968|24.248045555448314|
|2014|25.987323655694134|
|1904| 26.69814995131451|
|2004|25.639514989213716|
|1932| 32.58207957204948|
|1996|24.915045018878885|
|1998|25.163197335553704|
|1960|25.168848457954294|
|2012| 25.96137770897833|
|1912| 27.53861997940268|
|2016| 26.20791934541204|
|1936|27.530328324986087|
+----+------------------+
only showing top 20 rows

None