<a href="https://colab.research.google.com/github/SurajKande/Pipelining/blob/master/simple_ETL_data_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

demonstrating a simple ETL data pipeline. Starting from extracting data from the source, transforming into a desired format, and loading into a SQLite file.

In [0]:
import sqlite3
import pandas as pd

In [0]:
# to connect gdrive to colab for importing dataset
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

In [0]:
class Pipeline(object):
    def __init__(self):
        self.population = None
        self.unemployment = None

    def extract(self):
        
        url_popul_est = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/metro/totals/cbsa-est2019-alldata.csv'
        url_unemployment = 'https://www.ers.usda.gov/webdocs/DataFiles/48747/Unemployment.xls?v=318.5'

        self.population = pd.read_csv(url_popul_est, encoding='ISO-8859-1')
        self.unemployment = pd.read_excel(url_unemployment, skiprows=7)

    def transform(self):
        # formatting Population dataset

        # keep the relevant columns only i.e. the columns that contain year-population-estimate and index names
        pop_idx = ['CBSA', 'MDIV', 'STCOU', 'NAME', 'LSAD']
        pop_cols = [c for c in self.population.columns if c.startswith('POPEST')]
        population = self.population[pop_idx + pop_cols].copy()

        # melt, "unpivot" the yearly rate values (from wide format 'columns' to long format 'rows')
        self.population = population.melt(id_vars=pop_idx,
                                          value_vars=pop_cols,
                                          var_name='YEAR',
                                          value_name='POPULATION_EST')
        
        self.population['YEAR'] = self.population['YEAR'].apply(lambda x: x[-4:]) 


        # formatting Unemployment dataset

        # keep the relevant columns only i.e. unemployment-rate-year and names
        unemp_idx = ['FIPStxt', 'Stabr', 'area_name']
        unemp_cols = [c for c in self.unemployment.columns if c.startswith('Unemployment_rate')]
        unemployment = self.unemployment[unemp_idx + unemp_cols].copy()

        # melt, "unpivot" the yearly rate values (from wide format 'columns' to long format 'rows')
        self.unemployment = unemployment.melt(id_vars=unemp_idx,
                                              value_vars=unemp_cols,
                                              var_name='Year',
                                              value_name='Unemployment_rate')
        
        self.unemployment['Year'] = self.unemployment['Year'].apply(lambda x: x[-4:])


    def load(self):
        db = DB()
        self.population.to_sql('population', db.conn, if_exists='append', index=False)
        self.unemployment.to_sql('unemployment', db.conn, if_exists='append', index=False)

In [0]:
population.head()   # before transformation

    CBSA  MDIV    STCOU  ... RESIDUAL2017 RESIDUAL2018  RESIDUAL2019
0  10180   NaN      NaN  ...           -5           -4            -9
1  10180   NaN  48059.0  ...            0            0            -1
2  10180   NaN  48253.0  ...            0           -1            -2
3  10180   NaN  48441.0  ...           -5           -3            -6
4  10420   NaN      NaN  ...          -27          -18           -22

[5 rows x 97 columns]

In [0]:
population.head()  #after transformation

    CBSA  MDIV    STCOU  ...                           LSAD  YEAR POPULATION_EST
0  10180   NaN      NaN  ...  Metropolitan Statistical Area  2010         165585
1  10180   NaN  48059.0  ...           County or equivalent  2010          13512
2  10180   NaN  48253.0  ...           County or equivalent  2010          20238
3  10180   NaN  48441.0  ...           County or equivalent  2010         131835
4  10420   NaN      NaN  ...  Metropolitan Statistical Area  2010         703031

[5 rows x 7 columns]

In [0]:
unemployment.head()  # before transformation

   FIPStxt  ... Med_HH_Income_Percent_of_State_Total_2018
0        0  ...                                       NaN
1     1000  ...                                100.000000
2     1001  ...                                118.959123
3     1003  ...                                115.450773
4     1005  ...                                 68.928049

[5 rows x 88 columns]

In [0]:
unemployment.head()  # after transformation

   FIPStxt Stabr           area_name  Year  Unemployment_rate
0        0    US       United States  2000                4.0
1     1000    AL             Alabama  2000                4.6
2     1001    AL  Autauga County, AL  2000                4.0
3     1003    AL  Baldwin County, AL  2000                3.7
4     1005    AL  Barbour County, AL  2000                5.5

In [0]:
class DB(object):

    def __init__(self, db_file='/content/gdrive/My Drive/datasets/databasefile/db.sqlite'):
        self.conn = sqlite3.connect(db_file)
        self.cur = self.conn.cursor()
        self.__init_db()

    def __del__(self):
        self.conn.commit()
        self.conn.close()

    def __init_db(self):
        table1 = f"""CREATE TABLE IF NOT EXISTS population1(
              CBSA INTEGER,
              MDIV REAL,
              STCOU INTEGER,
              NAME TEXT,
              LSAD TEXT,
              YEAR INTEGER,
              POPULATION_EST INTEGER
                );"""

        table2 = f"""CREATE TABLE IF NOT EXISTS unemployment1(
            FIPStxt INTEGER,
            Stabr TEXT,
            area_name TEXT,
            Year INTEGER,
            unemployment_rate REAL
            );"""

        self.cur.execute(table1)
        self.cur.execute(table2)

In [5]:
pipeline = Pipeline()
print('Data Pipeline created')
print('\t extracting data from source .... ')
pipeline.extract()
print('\t formatting and transforming data ... ')
pipeline.transform()
print('\t loading into database ... ')
pipeline.load()
print('\nDone. See: result in "db.sqlite"')

Data Pipeline created
	 extracting data from source ....
	 formatting and transforming data ...
	 loading into database ...

Done. See: result in "db.sqlite"

In [0]:
conn = sqlite3.connect('/content/gdrive/My Drive/datasets/databasefile/db.sqlite')        # connecting to sqlite database

In [0]:
sql1 = """
SELECT 
    NAME, YEAR, POPULATION_EST
FROM
    population
WHERE
    STCOU is NULL;
"""

In [0]:
df1 = pd.read_sql(sql1, conn)

In [9]:
df1    # reading population data into dataframe df1

                              NAME  YEAR  POPULATION_EST
0                      Abilene, TX  2010          165585
1                        Akron, OH  2010          703031
2                       Albany, GA  2010          154145
3               Albany-Lebanon, OR  2010          116891
4      Albany-Schenectady-Troy, NY  2010          871082
...                            ...   ...             ...
47845                  Wooster, OH  2019          115710
47846              Worthington, MN  2019           21629
47847                  Yankton, SD  2019           22814
47848               Zanesville, OH  2019           86215
47849                   Zapata, TX  2019           14179

[47850 rows x 3 columns]

In [0]:
sql2 = """
SELECT 
    Stabr, area_name, unemployment_rate
FROM
    unemployment
"""

In [0]:
df2 = pd.read_sql(sql2, conn)

In [12]:
df2              # reading unemployment data into dataframe df2

       Stabr                area_name  Unemployment_rate
0         US            United States                4.0
1         AL                  Alabama                4.6
2         AL       Autauga County, AL                4.0
3         AL       Baldwin County, AL                3.7
4         AL       Barbour County, AL                5.5
...      ...                      ...                ...
327495    PR  Vega Baja Municipio, PR                9.6
327496    PR    Vieques Municipio, PR                6.9
327497    PR   Villalba Municipio, PR               15.9
327498    PR    Yabucoa Municipio, PR               13.1
327499    PR      Yauco Municipio, PR               14.6

[327500 rows x 3 columns]

In [0]:
# df2.groupby("Stabr")["Unemployment_rate"].mean().reset_index()

In [0]:
df1["STATE"]=df1["NAME"].str.split(",").str[1].str[-2:]

In [14]:
df1.groupby("STATE")["POPULATION_EST"].mean().reset_index()

   STATE  POPULATION_EST
0     AK    1.351077e+05
1     AL    1.818853e+05
2     AR    1.653082e+05
3     AZ    6.093942e+05
4     CA    1.437336e+06
5     CO    3.000869e+05
6     CT    7.331384e+05
7     DE    2.824500e+05
8     FL    8.032289e+05
9     GA    2.518826e+05
10    HI    3.517616e+05
11    IA    1.390731e+05
12    ID    1.103023e+05
13    IL    4.483971e+05
14    IN    2.289545e+05
15    KS    1.828796e+05
16    KY    1.123386e+05
17    LA    2.293447e+05
18    MA    9.980211e+05
19    MD    1.711258e+06
20    ME    2.267511e+05
21    MI    4.036024e+05
22    MN    7.147417e+04
23    MO    7.826458e+04
24    MS    1.009447e+05
25    MT    9.718346e+04
26    NC    2.460943e+05
27    ND    5.589068e+04
28    NE    6.567299e+04
29    NH    8.428325e+05
30    NJ    1.987867e+06
31    NM    1.062297e+05
32    NV    3.142834e+05
33    NY    3.484388e+05
34    OH    2.165345e+05
35    OK    1.593011e+05
36    OR    1.102595e+05
37    PA    8.794803e+05
38    SC    3.956311e+05
39    SD    6.345837e+04
40    TN    1.798241e+05
41    TX    4.539818e+05
42    UT    3.390251e+05
43    VA    2.557218e+05
44    VT    1.177541e+05
45    WA    5.264054e+05
46    WI    7.202492e+05
47    WV    9.340429e+05
48    WY    5.126318e+04

In [0]:
df2["STATE"] = df2["Stabr"]

In [0]:
merged_dataframe = pd.merge(left= df1.groupby("STATE")["POPULATION_EST"].mean().reset_index() , right = df2.groupby("STATE")["Unemployment_rate"].mean().reset_index(), left_on = 'STATE', right_on = 'STATE')

In [45]:
merged_dataframe.head()

  STATE  POPULATION_EST  Unemployment_rate
0    AK    1.351077e+05           9.410345
1    AL    1.818853e+05           7.149853
2    AR    1.653082e+05           6.374145
3    AZ    6.093942e+05           8.218125
4    CA    1.437336e+06           8.290932

In [0]:
threshold = merged_dataframe['Unemployment_rate'].describe([0.2,0.4,0.75]).values[4:8]

In [0]:
def return_unemployment_zone(x, tr=threshold):
  if ( x <= tr[1]):
    return "low"
  elif ( x > tr[1] and x <= tr[2] ):
    return "medium"
  elif ( x > tr[2] and x <= tr[3]) :
    return "high"
  else:
    return "critical"

In [0]:
merged_dataframe["zone"] = merged_dataframe['Unemployment_rate'].apply(return_unemployment_zone)

In [49]:
merged_dataframe.head()

  STATE  POPULATION_EST  Unemployment_rate      zone
0    AK    1.351077e+05           9.410345  critical
1    AL    1.818853e+05           7.149853  critical
2    AR    1.653082e+05           6.374145      high
3    AZ    6.093942e+05           8.218125  critical
4    CA    1.437336e+06           8.290932  critical

In [37]:
!pip install http://13.235.50.20:8080/packages/genpactclassification-0.0.3-py3-none-any.whl#md5=b78d8a3653004e5cdaca6c0087326e7e    

 # installing the package from pypiserver hosted in aws

Collecting genpactclassification==0.0.3
  Downloading http://13.235.50.20:8080/packages/genpactclassification-0.0.3-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (1.18.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (1.0.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (1.4.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (0.10.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (0.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from genpactclassification==0.0.3) (3.2.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->genpactclassification==0.0.3) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->genpactclassification==0.0.3) (2.8.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->genpactclassification==0.0.3) (0.22.2.post1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->genpactclassification==0.0.3) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->genpactclassification==0.0.3) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->genpactclassification==0.0.3) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->genpactclassification==0.0.3) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->genpactclassification==0.0.3) (0.15.1)
Installing collected packages: genpactclassification
Successfully installed genpactclassification-0.0.3

In [0]:
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from genpactclassification import decision_tree_classifier as dt

In [0]:
le = preprocessing.LabelEncoder()
le = le.fit_transform(merged_dataframe['zone'])
merged_dataframe['zone'] = le

In [57]:
merged_dataframe['zone'].head()

0    0
1    0
2    1
3    0
4    0
Name: zone, dtype: int64

In [0]:
X = merged_dataframe.loc[:,'POPULATION_EST':'zone'].values
y = merged_dataframe.loc[:,'zone'].values
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)

model,train_accuracy,test_accuracy = dt.decision_tree_classifier(X_train,X_test,y_train,y_test)

In [54]:
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [55]:
train_accuracy

100.0

In [56]:
test_accuracy

84.62